{{define "news"}}
{{template "header"}}

<main class="main-content contacts">
    <div class="container">
      <div class="content">
        <h1 class="text-center">Новости и мероприятия</h1>
        <div class="col-12">
          <div class="row">
              {{ range $key, $value  := .}}
            <div class="col-md-6 col-12">
              <div class="news-post">
                <div class="news-img"><img src="../assets/i/news/1.jpg" alt=""/></div>
                <h4 class="news-title">{{$value.Title}}</h4><span class="news-date">{{$value.Date}}</span>
                <div>{{$value.Content}}</div>
              </div>
            </div>
        {{end}}
          </div>
        </div>
      </div>
    </div>
  </main>

{{template "footer"}}
{{end}}
