<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <title>Преподаватели</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../assets/main.css"/>
    <link rel="shortcut icon" href="../assets/i/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/i/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/i/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/i/favicon/favicon-16x16.png"/>
    <link rel="mask-icon" href="../assets/i/favicon/safari-pinned-tab.svg" color="#5bbad5"/>
  </head>
  <body>
    <header class="header">
      <div class="top-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 col-xl-2">
              <div class="logo"><a href="/"><img src="../assets/i/logo.png" alt=""/></a></div>
            </div>
            <div class="col-md-7 col-xl-4">
              <h1 class="title">Кафедра предпринимательской деятельности</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-header">
        <div class="container">
          <nav class="nav navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-lg-center" id="navbar">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="kafedra.html">Кафедра</a></li>
                <li class="nav-item"><a class="nav-link" href="news.html">Новости и события</a></li>
                <li class="nav-item"><a class="nav-link" href="teachers.html">Преподаватели</a></li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Контакты</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main class="main-content">
      <div class="container">
        <div class="content">
          <h1 class="text-center">ПРЕПОДАВАТЕЛИ</h1>
          <h5 class="text-center">КАФЕДРЫ ПРЕДПРИНИМАТЕЛЬСКОЙ ДЕЯТЕЛЬНОСТИ</h5>
          <div class="teachers-list">
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/1.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Гонтарева Ирина Вячеславовна</strong></p>
                  <p><em>Должность, ученая степень: Заведующий кафедры предпринимательской деятельности, профессор, доктор экономических наук, академик Академии экономических наук Украины.</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Предпринимательство», «Управление проектами», «Предпринимательство и коммерциализация инноваций», «Оценка эффективности развития предприятия», «Консалтинговые услуги в сфере предпринимательства».</p>
                  <p> <em>Научные интересы: </em>проблемы эффективности функционирования и развития предпринимательства, эффективность трансформации форм капитала, компетентностный подход в подготовке студентов.</p>
                  <p>По результатам научных исследований опубликовано более 120 научных работ, в том числе 10 монографий и учебников, а также учебное пособие с грифом МОН Украины, учебное пособие «Управление проектами» рекомендован УМО России, учебное пособие «Тренинг формирования компетенций по экономике предприятия».</p>
                  <p> <em>Дополнительная информация: </em>работает на должности заведующего кафедры предпринимательской деятельности с 2016 года. В 2004 защитила кандидатскую диссертацию на тему «Управление логистическим процессом в производственно-экономических системах». В 2013 защитила докторскую диссертацию по специальности 08.00.04 на тему «Методология комплексной оценки эффективности развития промышленных предприятий». В 2014 присвоено ученое звание профессора.</p>
                  <p>Научный редактор журнала «Экономика развития». Член НМК по специальности «Предпринимательство, торговля и биржевая деятельность».</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:lider.khneu@gmail.com">lider.khneu@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/2.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Ковалева Виктория Ивановна</strong></p>
                  <p><em>Должность, ученая степень: доцент, кандидат экономических наук</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Креативность в предпринимательской деятельности», «Инновационное предпринимательство», «Креативный менеджмент в предпринимательстве», «Человеческий капитал», «Лидерство и партнерство в предпринимательской деятельности», «Культура предпринимательства».</p>
                  <p> <em>Научные интересы: </em>инновационное предпринимательство, оценка и развитие креативности и компетентности персонала, управление коммуникационным процессом в организации, экономика знаний и проблемы создания системы управления знаниями в организации.</p>
                  <p>По результатам научных исследований опубликовано более 25 научных работ, в том числе 1 монография.</p>
                  <p> <em>Дополнительная информация: </em>В 2002г. закончила ХДЕУ и начала работать на должности инженера лаборатории оценки уровня креативности и интеллекта, в 2003г. на должности старшего инспектора отдела науки и аспирантуры. В 2003 г. поступила в аспирантуру ХДЕУ, а в 2008 г. защитила кандидатскую диссертацию по специальности 08.06.01. С 2016 года работает на должности доцента кафедры предпринимательской деятельности ХНЭУ им. С. Кузнеца.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:vikakova04@gmail.com">vikakova04@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/3.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Матвиенко-Беляева Галина Леонидовна</strong></p>
                  <p><em>Должность, ученая степень: доцент, кандидат экономических наук.</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Социальное предпринимательство», «Контроллинг в предпринимательской деятельности», «Экономика труда и социально трудовые отношения», «Управление эффективностью предпринимательской деятельности», «Оценка эффективности бизнеса», «Экономика бизнеса».</p>
                  <p> <em>Научные интересы: </em>вопросы формирования системы контроллинга логистической деятельности предприятия; систематизация аналитических задач по основным видам логистической деятельности на предприятии; методологические аспекты сбалансированной системы показателей логистической деятельности предприятия.</p>
                  <p>По результатам научных исследований издано более 30 научных трудов, а также 2 монографии.</p>
                  <p> <em>Дополнительная информация: </em>В 2003 г. закончила ХДЕУ по специальности 8.050107 «Экономика предприятия» специализация «Менеджмент предпринимательской деятельности». В 2010 году защитила кандидатскую диссертацию по специальности 08.00.04 – экономика и управление предприятиями (по видам экономической деятельности) на тему «Контроллинг логистической деятельности предприятия». С 2010 г. работала на должности преподавателя кафедры экономики предприятия и менеджмента в ХНЭУ им. С. Кузнеца. В 2015 присвоено ученое звание доцента. С 2016 работает доцентом кафедры предпринимательской деятельности.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:galya2005mbg@gmail.com">galya2005mbg@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/4.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Бутенко Дарья Сергеевна</strong></p>
                  <p><em>Должность, ученая степень: доцент, кандидат экономических наук</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Административный менеджмент», «Производственный менеджмент», «Финансовый менеджмент», «Анализ хозяйственной деятельности», «Экономика бизнеса», «Управление персоналом».</p>
                  <p> <em>Научные интересы: </em>вопросы оценки результативности инновационной деятельности предприятия, трансфера инновационных технологий, развития современного менеджмента.</p>
                  <p>По результатам научных исследований издано более 36 научных трудов, а также 3 учебно-методические работы.</p>
                  <p> <em>Дополнительная информация: </em>В 2007 г. закончила ХНЭУ и поступила в аспирантуру ХНЭУ, а в 2012 г. защитила кандидатскую диссертацию по специальности 08.00.04. экономика и управление предприятиями. С 2010 г. работала на должности преподавателя кафедры менеджмента в ХНЭУ, с 2014 г. на должности доцента той же кафедры. В 2015 присвоено ученое звание доцента. С 2016 работает в должности доцента кафедры предпринимательской деятельности.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:butenko.hneu@gmail.com">butenko.hneu@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/5.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Иваненко Елена Владимировна</strong></p>
                  <p><em>Должность, ученая степень: старший преподаватель, кандидат экономических наук.</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Основы предпринимательства», «Экономика бизнеса», «Венчурное инвестирование», «Венчурное предпринимательство», «Планирование, стратегия и развитие предпринимательства», «Комплексный тренинг».</p>
                  <p> <em>Научные интересы: </em>энергоэффективность на промышленном предприятии, возобновляемая энергетика и энергосбережение, менеджмент энергосберегающих проектов, а также проблематика ведения бизнеса и принятия управленческих решений в условиях глобальных изменений на мировых товарных, финансовых рынках.</p>
                  <p>По результатам научных исследований опубликовано более 20 научных работ, в том числе статьи в научных периодических изданиях, которые включены в международные наукометрические базы Scopus и Web of Science.</p>
                  <p> <em>Дополнительная информация: </em>Работает преподавателем с 2012 года, в том числе преподает дисциплины на иностранном языке. В декабря 2016 года защитила кандидатскую диссертацию на тему: «Обеспечение энергоэффективности продукции машиностроительного предприятия» по специальности 08.00.04 – экономика и управление предприятиями (по видам экономической деятельности). Имеет сертификат Cambridge ESOL Business English Certificate (BEC), Vantage. Является сертифицированным специалистом по финансовому анализу инвестиционных проектов UNIDO Certificate «Financial Analysis of Investment Project Scenarios with application of COMFAR III Expert Software», Advanced Level. Победитель конкурса «Научно-педагогический старт-2017», который проходит при поддержке профкома ХНЭУ им. С.Кузнеца.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:ev.khneu@gmail.com">ev.khneu@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/6.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Яценко Екатерина Анатольевна</strong></p>
                  <p><em>Должность: преподаватель</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Экономика труда и социально трудовые отношения», «Обоснование хозяйственных решений и оценка рисков».</p>
                  <p> <em>Научные интересы: </em>обеспечение организационной устойчивости предприятия.</p>
                  <p>По результатам научных исследований издано более 10 научных работ.</p>
                  <p> <em>Дополнительная информация: </em>В 2013 г. поступила в аспирантуру ХНЭУ им. С. Кузнеца. Осуществляет подготовку кандидатской диссертации на тему: «Обеспечение организационной устойчивости промышленных предприятий». С 2016 работает преподавателем кафедры предпринимательской деятельности.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:k.zemtsova5@gmail.com">k.zemtsova5@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/7.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Муренец Ирина Григорьевна</strong></p>
                  <p><em>Должность: преподаватель, аспирант</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Системы качества», «Товароведение».</p>
                  <p> <em>Научные интересы: </em>экономика предприятия, деятельность проектных институтов, функционирование и развитие предприятий, управления качеством функционирования предприятий.</p>
                  <p>По результатам научных исследований издано более 10 научных работ.</p>
                  <p> <em>Дополнительная информация: </em>В 2015 закончила ХНЭУ им. С. Кузнеца и поступила в аспирантуру ХНЭУ им. С. Кузнеца. Осуществляет подготовку кандидатской диссертации на тему: «Методическое обеспечение качества управления на промышленных предприятиях». С 2016 работает преподавателем кафедры «Предпринимательской деятельности».</p>
                  <p>Победитель Всеукраинского конкурса студенческих научных работ по естественным, техническим и гуманитарным наукам 2014/2015 учебного года по направлению “Экономика и управление предприятиями”. Работала экономистом в ООО “Батрис”, затем в ЧАО Институт “Харьковский ПромстройНИИпроект” исполняющим обязанности начальника финансового отдела.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:ira-murenec@gmail.com">ira-murenec@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/8.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Чередник Анна Олеговна</strong></p>
                  <p><em>Должность: преподаватель, аспирант</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Дисциплины: </em>«Венчурное инвестирование», «Биржевое дело».</p>
                  <p> <em>Научные интересы: </em>вопросы функционирования венчурных фирм в условиях экономического кризиса.</p>
                  <p>По результатам научных исследований издано более 10 научных работ.</p>
                  <p> <em>Дополнительная информация: </em> В 2015 закончила ХНЭУ им. С. Кузнеца по направлению «Экономика предприятия» специализация «Менеджмент проектов и консалтинг». В том же году поступила в аспирантуру на специальность «Экономика и управление предприятиями». Осуществляет подготовку кандидатской диссертации на тему: «Обеспечение эффективности привлечения венчурных компаний к развитию промышленных предприятий». С осени 2015г. работала преподавателем кафедры экономики предприятия и менеджмента, а с 2016 г. работает преподавателем кафедры предпринимательской деятельности.</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:annetblejkk@gmail.com">annetblejkk@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/9.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Шеянова Юлиана Дмитриевна</strong></p>
                  <p><em>Должность: аспирант</em></p>
                </div>
                <div class="col-12">
                  <p> <em>Научные интересы: </em>вопросы трансформации организационного капитала субъектов предпринимательства.</p>
                  <p>По результатам научных исследований издано более 10 научных работ.</p>
                  <p> <em>Дополнительная информация: </em>  В 2017 закончила ХНЭУ им. С. Кузнеца по направлению «Экономика и предпринимательство» специализация «Управление персоналом и экономика труда». В том же году поступила в аспирантуру на специальность «Предпринимательство, торговля и биржевая деятельность». Осуществляет подготовку кандидатской диссертации на тему: «Формирование механизма трансформации организационного капитала субъектов предпринимательства аграрной сферы».</p>
                  <p> </p>
                  <p> </p>
                  <p> <b>Электронный адрес: </b><a href="mailto:yyulianash@gmail.com">yyulianash@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="teachers-list__item col-12">
              <div class="row">
                <div class="col-sm-12 col-12 col-md-5"><img src="../assets/i/teachers/10.jpg" alt=""/></div>
                <div class="col-sm-12 col-12 col-md-6">
                  <p> </p>
                  <p><strong>Лисовая Дарина</strong></p>
                  <p><em>Должность: лаборант</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer"></footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZxtqWMmRXZYSZ8r0bpEfZ0eJ9-IB9ZHo&amp;callback=initMap" async="async" defer="defer"></script>
    <script src="../assets/js/scripts.js"></script>
  </body>
</html>